# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision
transformers==4.37.2
torch==2.2.0
comet-ml==3.37.2
einops==0.7.0
scikit-image==0.22.0
accelerate==0.27.2
diffusers==0.26.3
